.headerSection{
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
}

.headerSection .titleWrap {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.headerSection .writeWrap {
  text-align: right;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  }
